BASE_URL=YOUR_BASE_URL # e.g., 'https://example.com'
API_KEY=YOUR_API_KEY # e.g.,  'ollama' or '7budt6738td639y...'
RESONNING_MODEL=YOUR_CHOSEN_LLM # e.g., qwen3:8b. (for analysing research data and so on).
HF_TOKEN=YOUR_HUGGING_FACE_ACCESS_TOKEN # e.g., hf_oLhs8sn9.... (for image generation).